
.cont1{  
    background-color: white;
    border-bottom: 2px solid #cccccc;
}

.h-text{
    background-color: #4aaaa5;
    color:white;
    width:250px;
    
    }
.a{
    color:#666666;
    font-size: 25px;
}
.about{
    color: #4aaaa5;
    font-size:40px;
    border-bottom: 2px solid #666666;
}
.img{
    height:300px;
    width: 250px;
}

.p{
    font-size: 24px;
    color:#666666;
}
.footer{
    background-color: #666666;
}
.text2{
    text-align: center;
}
.imge1{
    width: 250px;
    height:150px;
}
.textarea{
    color: #777777;
}
.message{
    color: #777777;
  
}
.button{
    color: #4aaaa5;
    font-size: 28px;
} 
